
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: Georgia, serif;
    font-weight: 300;
    color: rgb(41, 38, 38);
    line-height: 1.9;
    background-image: url("img/2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
  }
  
  /* GENERAL ELEMENTS */
  .section {
    padding: 10rem 3rem;
    border-top: 1px solid #ddd;
    transition: transform 1s, opacity 1s;
    background-color: rgba(255, 255, 255, 0.267);
  }
  
  .section--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
  
  .section__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto;
  }
  
  .section__description {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: goldenrod;
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 1px 1px black;
  }
  
  .section__header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500;
    text-shadow: 1px 1px white;
    text-align: center;
  }
  #final-header {
      text-shadow: none;
  }
  
  .btn {
    display: inline-block;
    background-color: rgb(252, 193, 46);    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    text-shadow: 1px 1px #333;
    box-shadow: 1px 1px #333;
  }
  .btn--text {
    display: flex;
    background: none;
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: 500;
    color:goldenrod;
    border: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 15px;
    margin-left: 10px;
  }
  img {
    transition: filter 0.5s;
  }
  /* NAVIGATION */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
  }
  
  /* nav + sticky */
  .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    
  }
  .nav__logo {
    height: 7rem;
    transition: all 0.3s;
    opacity: 0.7;
  }
  .logo-img-signature {
    position: relative;
    text-align: center;
    color: white;
    text-shadow:2px 2px #333;
  }
  .signature {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lucida Handwriting", cursive;
  font-weight: 600;
  }
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .nav__item {
    margin-left: 4rem;
  }
  .nav__link:link,
  .nav__link:visited {
    font-size: 2rem;
    font-weight: 550;
    color:rgb(48, 46, 46);
    display: block;
    transition: all 0.3s;
  }
  .nav__link--btn:link,
  .nav__link--btn:visited {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: rgb(252, 193, 46);
    color:rgb(48, 46, 46);
  }
  .nav__link--btn:hover,
  .nav__link--btn:active {
    color: inherit;
    background-color:rgb(236, 177, 27);
    color: #333;
  }
  #lets-go-btn {
      text-decoration: none;
      box-shadow: 1px 2px black;
      color:white;
      text-shadow: 1px 1px black;
  }
  /* HEADER */
  .header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    flex: 1;
    max-width: 115rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: start;
  }
  h1 {
    font-size: 5.5rem;
    line-height: 1.35;
  }
  .main-header  {
    text-align: center;
    position: relative;
    font-size: 80px;
    color:rgb(20, 20, 20);
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-family: "Lucida Handwriting", cursive;
    margin-top: 200px;
  }
  .main-header-company-name {
      font-size: 90px;
      font-weight: 900px;
      color: goldenrod;
      text-shadow:2px 2px rgb(245, 233, 233);
      font-family: "Fira Sans", serif;
  }
  .main-header-caption {
     font-family:"Lucida Handwriting", cursive;
     font-size: 3rem;
     font-weight: 500;
     text-align: center;
     color: rgb(238, 225, 225);
     text-shadow: 2px 2px rgb(0, 0, 0);
  }
  /* destinations */
  .destinations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0 5rem;
  }
  
  .destinations-img-thailand {
    width: 90%;
    border-radius: 15px;
  }
  .destinations-img-usa {
    width: 90%;
    border-radius: 15px;
  }
  .destinations-img-switzerland{
    width: 90%;
    border-radius: 15px;
  }
  .destination {
    align-self: center;
    justify-self: center;
    width: 70%;
    font-size: 1.5rem;
  }
  .destination__header {
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 0.5px 0.5px white;
    font-weight: 0;
    text-decoration: underline;   
    color: rgb(41, 38, 38);
  }
  .destination-description {
      font-family: Georgia, serif;
      font-size: 2rem;
      font-weight: 550;
      color: rgb(41, 38, 38);
      }
  /* SPECIAL DEALS */
  .deals {
    max-width: 100rem;
    margin: 12rem auto 0 auto;
    background-color: rgba(255, 255, 255, 0.644);
  }
  .deals__tab-container {
    display: flex;
    justify-content: center;
  }
  .deals__tab {
    margin-right: 2.5rem;
    transform: translateY(-50%);
  }
  .deals__tab span {
    margin-right: 1rem;
    font-weight: 600;
    display: inline-block;
  }
  .deals__tab {
    background-color: rgb(252, 193, 46);
  }
  .deals__tab:hover {
    background-color:rgb(236, 177, 27);
  }
  .deals__tab--active {
    transform: translateY(-66%);
  }
  .deals__content {
    display: none;
    font-size: 1.7rem;
    padding: 2.5rem 7rem 6.5rem 7rem;
  }
  .deals__content--active {
    display: grid;
    grid-template-columns: 7rem 1fr;
    column-gap: 3rem;
    row-gap: 0.5rem;
  }
  .deal-special-name {
      font-weight: 700;
    color: black;
  }
  .deal-price {
      color: goldenrod;
      text-shadow: 1px 1px black;
      text-decoration: none !important;
  }
  .deals__header {
    font-size: 2.5rem;
    font-weight: 500;
    align-self: center;
    text-decoration: underline;
  }
  .deals__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
  }
  .deals__content p {
    grid-column: 2;
    color: black;
    font-size: 1.8rem;
  }
  .deals__icon--1 {
    background-color: rgb(255, 227, 176);
  }
  /* SLIDER */
  .slider {
    max-width: 100rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
  }
  .slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
  }
  .slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
  }
  .slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
  }
  .dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
  }
  .dots__dot:last-child {
    margin: 0;
  }
  .dots__dot--active {
    background-color: #888;
    opacity: 1;
  }
  /* REVIEWS */
  .review {
    width: 65%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.644);
    padding: 20px;
  }
  .review__header {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
    text-decoration: underline;
  }
  .review__text {
    font-size: 1.8rem;
    margin-bottom: 3.5rem;
    color: black;
  }
  .review__author {
    margin-left: 3rem;
    font-style: normal;
    display: grid;
    grid-template-columns: 6.5rem 1fr;
    column-gap: 2rem;
  }
  .review__photo {
    grid-row: 1 / span 2;
    width: 6.5rem;
    border-radius: 50%;
  }
  .review__name {
    font-size: 1.7rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
    font-family:"Lucida Handwriting", cursive;
  }
  .review__location {
    font-size: 1.5rem;
    font-family:"Lucida Handwriting", cursive;
  }
  .section__title--reviews {
    margin-bottom: 4rem;
  }
  /* SIGNUP */
  .section--sign-up {
    background-color: #37383d;
    border-top: none;
    border-bottom: 1px solid #444;
    text-align: center;
    padding: 10rem 3rem;
  }
  .section--sign-up .section__header {
    color: #fff;
    text-align: center;
  }
  .section--sign-up .section__title {
    margin-bottom: 6rem;
  }
  .section--sign-up .btn {
    font-size: 1.9rem;
    padding: 2rem 5rem;
  }
  /* FOOTER */
  .footer {
    padding: 10rem 3rem;
    background-color: #37383d;
  }
  .footer__nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .footer__item {
    margin-right: 4rem;
  }
  .footer__link {
    font-size: 1.6rem;
    color: #eee;
    text-decoration: none;
  }
  .footer__logo {
    height: 5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .footer__copyright {
    font-size: 1.4rem;
    color: #aaa;
    text-align: center;
  }
  .rs-logo-container {
      display: flex;
      justify-content: center;
  }
  .rs-logo-img {
      margin-top: 4rem;
      width: 5%;
  }
  .copyright-message {
      text-align: center;
      margin-top: 1.5rem;
  }
  /* MODAL WINDOW */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    background-color: #f3f3f3;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }
  .modal__header {
    font-size: 3.25rem;
    margin-bottom: 4.5rem;
    line-height: 1.5;
  }
  .modal__form {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
  }
  .modal__form label {
    font-size: 1.7rem;
    font-weight: 500;
  }
  .modal__form input {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
  }
  .modal__form button {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
  }
  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  